<footer class="bd-footer p-3 p-md-5 mt-5 bg-light text-center text-sm-start">
  <div class="container">
    <ul class="bd-footer-links ps-0 mb-3">
      <li class="d-inline-block"><a href="{{ .Site.Params.repo }}" target="_blank">GitHub</a></li>
      <li class="d-inline-block ms-3"><a href="{{ .Site.Params.youtube }}" target="_blank">YouTube</a></li>
      <li class="d-inline-block ms-3"><a href="{{ .Site.Params.site }}" target="_blank">Site</a></li>
      <li class="d-inline-block ms-3"><a href="{{ .Site.Params.examples }}">Examples</a></li>
    </ul>
    <p class="mb-0">Designed and Build by the C Tech Hindi Team.</p>
    <p class="mb-0">Currently v{{ .Site.Params.current_version }}. Code licensed <a
        href="#" target="_blank" rel="license noopener">Apache 2.0</a>, docs
      <a href="https://creativecommons.org/licenses/by/3.0/" target="_blank" rel="license noopener">CC BY 3.0</a>.
    </p>
  </div>
</footer>